.tracks-selected {
    border: 1px solid gray;
    border-radius: 10px;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.tracks-selected-empty {
    align-items: center;
    color: var(--emptyBoxTextColor);
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    font-style: italic;
    height: 100px;
    justify-content: center;
    min-height: 100%;
}